* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
    top: 0;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header a {
    text-decoration: none;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: purple;
}

header nav ul li a:hover {
    border-radius: 15px;
    text-shadow: none;
    color: royalblue;
}

section {
    padding: 60px;
}

.about-me h2 {
    size: 30px;
}

.about-me p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me img {
    max-width: 300px;
    max-height: 450px;
}

.contact-me a {
    text-decoration: none;
    color: purple;
}

.contact-me ul {
    align-items: center;
    list-style: none;
}

.contact-me ul li a {
    font-weight: lighter;
    font-size: 1.55vw;
}

.my-work img {
    max-width: 450px;
    max-height: 300px;
}

.my-work img:hover {
    max-width: 750px;
    max-height: 600px;
    display: block;

}